@CHARSET "UTF-8";

/* Main Title
---------------------------------*/
.dft-ttl{
	font-size:40px;
	text-align:center;
	line-height:1.2;
	padding:0 0 20px;
	margin:0 0 35px;
	position:relative;}
.dft-sub{
	display:block;
	font-size:16px;
	font-weight:normal;
	color:#A9662B;}
.dft-ttl::after{
	content:'';
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	width:90px;
	height:2px;
	background:#A9662B;
}
@media only screen and (min-width:768px){
	.dft-ttl{
		font-size:52px;
		text-align:left;
		display:flex;
		align-items:center;
		padding:0 0 15px;
		margin:0 0 40px;}
	.dft-ttl::after{
		right:auto;}
	.dft-sub{
		font-size:18px;
		display:inline-block;
		margin:10px 0 0 15px;}
}
@media only screen and (min-width:1024px){
	.dft-ttl{
		font-size:62px;
		padding:0 0 26px;
		margin:0 0 60px;}
	.dft-sub{
		margin:12px 0 0 25px;}
}

/* News
---------------------------------*/
#news{
	padding:45px 20px 55px;}
.news-container{
	margin:auto;
	width:100%;
	max-width:1320px;}
.news-box{
	max-width:1000px;
	margin:0 0 0 auto;}
.news-item{
	border-bottom:1px solid #e8e8e8;}
.news-item a{
	padding:15px 50px 15px 0;
	display:block;}
.news-button{
	margin:50px auto 0;
	width:100%;
	max-width:1320px;
	position:relative;}
.news-button a{
	color:#fff;
	background:#a9662b;
	padding:24px 2rem;
	max-width:450px;
	line-height:normal;
	position:relative;
	display:block;
	text-align:center;
	margin:auto;
	z-index:2;}
.news-button a::before{
	content:'';
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	width:calc(100% - 8px);
	height:calc(100% - 8px);
	border:1px solid #fff;}
.news-button::before,
.news-button::after{
	content:'';
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;
	width:100%;
	height:2px;
	background:#a9662b;}
@media only screen and (min-width:768px){
	#news{
		padding:55px 20px 65px;}
	#news .dft-ttl{
		margin:0;
		padding:0;}
	#news .dft-ttl:after{
		position:relative;
		width:100%;
		max-width:1000px;
		margin:0 0 0 auto;}
	#news .dft-sub{
		margin:10px 20px 0 15px;}
	.news-item a{
		padding:20px 100px 20px 0;}
	.news-date,
	.news-category{
		margin:0 20px 0 0;}
}
@media only screen and (min-width:1024px){
	#news{
		padding:65px 20px 75px;}
	#news .dft-sub{
		margin:12px 20px 0 25px;}
	.news-item a{
		padding:24px 170px 24px 0;}
	.news-date,
	.news-category{
		margin:0 50px 0 0;}
}

/* Access
---------------------------------*/
#access{
	padding:40px 20px 50px;
	background:#F8F8F8;}
#access .g-map{
	padding-top:60%;}
.acs-txt{
	padding:20px;
	background:#FFF;
	height:100%;}
.acs-txt p{
	font-size:18px;}
.acs-left{
	margin:0 0 30px;}
@media only screen and (min-width:768px){
	#access{
		padding:90px 20px 100px;}
	.acs-grid{
		display:flex;
		flex-wrap:wrap;
		justify-content:center;}
	.acs-left{
		width:calc(42% - 30px);
		margin:0 30px 0 0;
		display:flex;
		flex-direction:column;}
	.acs-txt{
		padding:35px 25px;}
	.acs-txt p{
		font-size:20px;}
	.acs-right{
		width:58%;}
}
@media only screen and (min-width:1024px){
	#access{
		padding:140px 20px 150px;}
	.acs-left{
		width:calc(42% - 100px);
		margin:0 100px 0 0;}
	.acs-right{
		width:58%;}
}